{{outlet}}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <h2>
      About OpenCareers
    </h2>
    <p>
      <b>OpenCareers</b> is a project I started to help share job listings
      with my girlfriend. This app is designed to help people crowdsource
      job listings.
      <hr />
      <i>
        -Kevin Caravaggio
      </i>
    </p>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>