<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    {{#each bannerList as |bannerItem|}}
      {{#banner-item bannerItem.heading bannerItem.bgcol}}
        {{bannerItem.description}}
      {{/banner-item}}
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>

{{#each model as |job|}}
  {{job-listing job}}
{{/each}}
{{outlet}}
