/* OpenCareers custom CSS */
.container-fluid.op-container {
  padding: 55px 5px;
  margin: 10px;
}

.container.op-container {
  padding: 60px;
}

.navbar.fixed-top.navbar-expand.op-nav {
  background-color: #0d47a1;
  display: inline;
}

.container-fluid.op-banner {
  padding: 55px 5px 20px;
  margin: 10px;
}

.jumbotron.jumbotron-fluid.op-jumbotron {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: linen;
  text-shadow: 1px 1px #182123;
}


.container-fluid.op-cardstream {
  width: 75%;
}

.carousel.slide.op-slide {
  height: 100%;
}

.card.op-card {
  margin: 16px 0;
}

.btn.btn-outline-success.op-navbtn {
  float: right;
  width: 120px;
  margin: 20px;
}

.btn.btn-outline-danger.op-navbtn {
  float: right;
  width: 120px;
}

.btn.btn-primary.op-add {
  position: fixed;
  bottom: 32px;
  right: 32px;
  text-shadow: black 1px 1px 3px;
  box-shadow: darkgray 2px 2px 2px;
  border-radius: 24px;
  font-size: 24px;
}

.row.op-stat-row {
  margin-top: 50px;
}

div.op-stat-tile {
  color: azure;
  border-radius: 8px;
  text-align: center;
  margin: 0 15px;
}

div.op-stat-tile.blue {
  background: cornflowerblue;
  border: 2px solid cornflowerblue;
}

div.op-stat-tile.red {
  background: indianred;
  border: 2px solid indianred;
}

div.op-stat-tile.green {
  background: mediumaquamarine;
  border: 2px solid mediumaquamarine;
}

img.op-avatar {
  width: 85%;
  border-radius: 10px;
}
