<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{#each destination as |ftrLink|}}
        <li class="nav-item">
          {{#link-to ftrLink.target}}
            <a class="nav-link" href="#">
                {{ftrLink.name}}
            </a>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</nav>
{{yield}}
