<nav class="navbar fixed-top navbar-light" style="background-color: #5DADE2;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/" style="color: #F4F4F4;">
    {{yield}}
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {{#if sign}}
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"
        {{action "signIn"}}>
        Logout
      </button>
    {{else}}
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"
        {{action "signOut"}}>
        Login
      </button>
    {{/if}}
  </div>
</nav>
